// Import page-specific CSS files here.
@import "home";
@import "ongoing";
@import "show";
@import "form_new";


.index-container {
  width: 1410px;
  margin: auto;
}

.second-title {
  color: #00ADAB;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
}

.first-row-index {
  margin-bottom: 1rem;
}

.index-first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #1B1F32;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  height: 245px;
  width: 1410px;
  border-radius: 10px;
  padding: 0 3rem;
}

.index-second-row {
  display: flex;
  gap: 1.5rem;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.index-second-row::-webkit-scrollbar {
  display: none;
}

.index-third-row {
  display: flex;
  gap: 0rem 1.5rem;
  flex-wrap: wrap;
}

.index-fourth-row {
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
  scroll-padding-left: 1rem;
}

.user-infos {
  display: flex;
}

.infos-user-left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  padding-left: 20px;
}

.logo-with-name {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  background-color: #282D43;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}

.logo {
  height: 35px;
  width: 35px;
}

.ia-right {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
}

.all-logos {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 260px;
}

.button-new {
  height: 60px;
  width: 160px;
  color: white;
  border-radius: 10px;
  background-color: #00ADAB;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  transition: 0.3s ease;
  border: none;
}

.button-new:hover {
  // border: 1px solid rgba(255,204,98,0.67);
  box-shadow: 0px 0px 20px 2px rgba(255,204,98,0.67);
  background-color: #282D43;
}

.button-slide {
  width: 140px;
  height: 35px;
  border-radius: 50px;
  color: white;
  background-color: #282D43;
  transition: 0.3s ease;
  border: none;
  text-decoration: none;
  line-height: 35px;
}

.button-slide:hover {
  // outline: 1px solid rgba(255,204,98,0.67);
  box-shadow: 0px 0px 20px 2px rgba(255,204,98,0.67);
}

.button-row {
  text-align: center;
}

.user-infos-text {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
}

.square-info {
  height: 60px;
  width: 120px;
  // border: 1px solid red;
  background-color: #282D43;
  border-radius: 10px;
  padding-left: 8px;
  color: white;
  display: flex;
  gap: 4px;
  flex-direction: column;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  justify-content: center;
  font-size: 14px;
}

.square-info i {
  color:  #00ADAB;
}

.square-info-bottom {
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

// 3ème rangée, défilement vertical

.hidden {
  display: none;
}

.prompt-card-third-row {
  width: 450px;
  height: 205px;
  border-radius: 10px;
  background-color: #282D43;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  color: black;
  transition: 0.3s ease;
  margin: 12px 0px 20px 0px;
  scroll-snap-align: start;
  margin-top: 1rem;
}

.prompt-card-third-row:hover {
  outline: 1px solid rgba(255,204,98,0.67);
  box-shadow: 0px 0px 20px 2px rgba(255,204,98,0.67);
}
