.row-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem auto 0;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.prompt-card {
  width: 450px;
  height: 205px;
  border-radius: 10px;
  background-color: #282D43;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.33);
  color: black;
  transition: 0.3s ease;
  margin: 20px 0px 20px 0px;
  scroll-snap-align: start;
}

.prompt-card:hover {
  outline: 1px solid rgba(255,204,98,0.67);
  box-shadow: 0px 0px 20px 2px rgba(255,204,98,0.67);
}

.prompt-top {
  color: white;
  padding: 12px;
  height: 130px;
  overflow:hidden;
}

.prompt-card-body {
  background-color: #1B1F32;
  padding: 12px;
  border-radius: 0px 0px 10px 10px;
  height: 75px;
}

.category {
  color: white;
  background-color: #00ADAB;
  border-radius: 15px;
  width: fit-content;
  height: auto;
  font-size: 12px;
  padding: 1px 6px;
}

.last-elements-card {
  display: flex;
  justify-content: space-between;
  color: #C1C1C1;
  margin-top: 6px;
  align-items: start;
}

.first-elements-card {
  display: flex;
  justify-content: space-between;
  color: #C1C1C1;
  align-items: start;
}

.first-elements-card i {
  color: #00ADAB;
  margin-right: 4px;
}

.last-elements-card .fa-clock {
  color: #00ADAB;
}

.last-elements-card .fa-trophy {
  color: rgba(255,204,98,0.67);
}

.last-elements-card .fa-trophy:hover {
  color: rgb(255, 230, 50);
}

.status {
  display: flex;
  justify-content: right;
  gap: 8px;
  align-items: baseline;
}

.test-form {
  position: absolute;
}

.title-index {
  color: #C1C1C1;
  text-align: center;
  margin: 1rem;
}
