.user-prompt-and-infos {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 2%;
}

.user-infos-and-timer {
  position: relative;
  background-color: #282D43;
  border-radius: 10px;
  height: 70px;
  width: 340px;
  line-height: 70px;
  display: flex;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
}

.user-infos-and-timer::before {
  content: "";
  position: absolute;
  inset: 0; /* Prend toute la place */
  padding: 2px; /* Épaisseur de la bordure */
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(27,31,50,1) 33%, rgba(27,31,50,0) 100%);;
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.user-infos {
  color: #C1C1C1;
  padding-left: 5%;
  align-items: center;
}

.user-prompt {
  position: relative;
  color: white;
  // border: 1px solid black;
  text-align: left;
  height: 140px;
  width: 800px;
  // margin: 2rem auto 0.5rem;
  border-radius: 10px;
  background-color: #282D43;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.33);
  padding: 8px;
}

.user-prompt::before {
  content: "";
  position: absolute;
  inset: 0; /* Prend toute la place */
  padding: 2px; /* Épaisseur de la bordure */
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(27,31,50,1) 33%, rgba(27,31,50,0) 100%);;
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.row-container-show {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: 2rem auto 0;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  align-items: flex-start;
}

.timer {
  width: 340px;
}

.timer h1 {
  color: #C1C1C1;
  padding-left: 5%;
  justify-content: center;
  font-size: 16px;
}

.response-card {
  width: 30%;
  height: 450px;
  border-radius: 10px;
  background-color: #282D43;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.33);
  color: white;
  padding: 8px;
  // border: 1px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.response-card::before {
  content: "";
  position: absolute;
  inset: 0; /* Prend toute la place */
  padding: 2px; /* Épaisseur de la bordure */
  border-radius: 10px;
  background: linear-gradient(180deg, rgba(27,31,50,1) 33%, rgba(27,31,50,0) 100%);;
  -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.response-card p {
  margin: 0;
}

.response-content-text {
  overflow: auto;
}

.vote-button {
  background-color: #1B1F32;
  color: #C1C1C1;
  border-radius: 10px;
  padding: 8px;
  font-weight: bold;
}

.ftm {
  display: flex;
  justify-content: end;
}

.start-button {
  background-color: #1B1F32;
  color: #C1C1C1;
  border-radius: 10px;
  height: 45px;
  width: 160px;
  display: block;
  margin: 0 auto;
}

.podium {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: end;
  text-align: center;
  color:  #C1C1C1;
  // margin-top: 10rem;
}

.podium span {
  margin-top: 0.5rem;
}

.podium-left {
  height: 160px;
  width: 320px;
  background-color: #282D43;
  padding-top: 0.5rem;
}

.podium-middle {
  height: 220px;
  width: 320px;
  background-color: #282D43;
  padding-top: 0.5rem;
}

.podium-right{
  height: 130px;
  width: 320px;
  background-color: #282D43;
  padding-top: 0.5rem;
}

.trophy {
  color: #00BDBB;
  display: block;
  text-align: center;
  margin-top: 2rem;
  font-size: 300px;
}

.response-card h4 {
  text-align: center;
}

.text-gray-color {
  color: #C1C1C1;
}

.text-turquoize-color {
  color: #00BDBB;
}

.choose {
  margin: 2% 0;
  text-align: center;
}

.heart {
  color: #00BDBB;
  font-size: 30px;
  right: 10px;
  margin-top: 10px;
  margin-left: 95%;
}
