<footer class="py-4 mt-auto">
  <span> © 2025 404 Fighters – All right reserved </span>

  <ul class="footer-links">
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Team", team_path %></li>
    <li><%= link_to "Legal", legal_path %></li>
  </ul>
<%# <span class="spacer"></span> %>
</footer>
