
<div class="home-container">
  <h1 id="claim">Your home for Mixed Martial IArt</h1>
    <script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
  <%= link_to battles_path, class: "anim-link" do %>
      <dotlottie-player src="https://lottie.host/89b76ae4-77a1-43cf-ad50-9f1462bff76b/gAv3jjACH6.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay id="anim"></dotlottie-player>
  <% end %>
</div>
<div id="app">
  <div id="wrapper">
    <h1 class="glitch" data-text="AI Duel">AI Duel</h1>
  </div>
</div>
<div class="end">
  <em id="team"> © 2025 - Proudly hand crafted by 404 Fighters</em>
</div>
