<div id="<%= dom_id(response) %>">
  <%# response.token %>
  <%= turbo_stream_from dom_id(response) %>
  <% if response.content.nil? %>
    <%= markdown_to_html(render "loading_animation") %>
  <% else %>
    <%= markdown_to_html(response.content) %>
  <% end %>
</div>
