// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";

.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

.prompt-card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 4fr repeat(2, 1fr);
  border: 1px solid;
  width: 30%;
}

.prompt {
  grid-area: 1 / 1 / 2 / 3;
}

.category {
  grid-area: 2 / 1 / 3 / 2;
  align-self:center;
}

.pseudo {
  grid-area: 3 / 1 / 4 / 2;
  align-self:center;
}

.status {
  grid-area: 2 / 2 / 4 / 3;
  align-self:end;
}

@media (max-width: 900px) {
  .prompt-card {
    width: calc(50% - 16px);
    flex: 1 1 calc(50% - 16px);
  }
}

@media (max-width: 600px) {
  .prompt-card {
    width: 100%;
    flex: 1 1 100%;
  }
}
