.navbar-lewagon {
  justify-content: space-between;
  background: #252333;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.light-text-color {
  color: #5b58d1;
}
